# Virtual Environment
api-mini-proj-env/
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Keys and secrets
keys/
*.key
*.pem
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
lib/

src/aes_gcm/
src/dilithium/
src/kyber/
